.fix-render {
  background-color: black;
}

.suggested-picture {
  border-radius: 6px;
}

flowbox flowboxchild {
  padding: 0px;
}

.overlay-button {
  background-color: alpha(var(--view-bg-color), 0.6);
  border-radius:9999px;
}

.overlay-button:hover {
  background-color: mix(alpha(var(--view-bg-color), 0.7), black, 0.1);
}

.overlay-button:active {
  background-color: alpha(var(--view-bg-color), 0.9);
}

.overlay-button:checked {
  background-color: alpha(var(--view-bg-color), 1);
}

.main-view windowcontrols image{
  background-color: mix(alpha(var(--view-bg-color), 0.7), black, 0.1);
}

.main-view windowcontrols image:hover {
  background-color: mix(alpha(var(--view-bg-color), 0.7), black, 0.2);
}

.main-view windowcontrols image:active {
  background-color: mix(alpha(var(--view-bg-color), 0.7), black, 0.3);
}

.drop-target-remove-border {
  box-shadow: transparent 1px 1px;
}

.overlay-status {
  color: var(--accent-color);
  background-color: color-mix(in srgb, var(--accent-bg-color) 20%, transparent);
  /* Same color for border as for icon and label */
  /* Probably due to a GTK bug, this currently does not give the exact same color */
  border: 2px dashed color-mix(in srgb, currentColor var(--dim-opacity), transparent);
  border-radius: 2px;
  margin: 12px;
}

.overlay-status label {
  opacity: 1;
}

.overlay-status image {
  opacity: 1;
  color: var(--accent-color);
}
