.fix-render{
  background-color:black;
  border-radius: 12px;
}

.drag-overlay-status-page {
  background-color: alpha(@accent_bg_color, 0.5);
  color: @accent_fg_color;
  padding: 32px;
}

.blurred {
  filter: blur(6px);
}

/* .preview-headerbar { */
/*   background: linear-gradient(alpha(@headerbar_bg_color, 1) 10%, alpha(@headerbar_bg_color, 0) 100%); */
/* } */

