.fix-render {
  background-color: black;
}

.drag-overlay-status-page {
  background-color: alpha(@accent_bg_color, 0.5);
  color: @accent_fg_color;
  padding: 32px;
}

.blurred {
  filter: blur(6px);
}

.view-borders {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.suggested-picture {
  border-radius: 6px;
}

flowbox flowboxchild {
  padding: 0px;
}

.main-view headerbar button {
 background-color: alpha(var(--view-bg-color), 0.6);
 border-radius:9999px;
}

.main-view headerbar button:hover {
 background-color: alpha(var(--view-bg-color), 0.7);
}

.main-view headerbar button:active {
 background-color: alpha(var(--view-bg-color), 0.9);
}

.main-view headerbar button:selected {
 background-color: alpha(var(--view-bg-color), 1);
}

windowcontrols button{
 padding: 0px;
}

windowcontrols {
 padding-left: 6px;
 padding-right: 6px;
}
